@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  @apply transition-all duration-300;
}

body {
  overflow-x: hidden;
  color: white;
  scroll-behavior: smooth;
  background-color: #012b1d;
  font-family: 'Satoshi', sans-serif;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 rounded-full bg-black/60 hover:bg-black/40;
}

html {
  scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
  scrollbar-width: thin;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.swiper {
  /* width: 1040px; */
  /* height: 1200px; */
  height: max-content !important;
}

.swiper-slide {
  height: max-content !important;
}

.swiper-wrapper {
  height: max-content !important;
}

/* Style the scrollbar track */
.form::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Change the background color of the track */
  width: 8px; /* Change the width of the track */
}

/* Style the scrollbar thumb */
.form::-webkit-scrollbar-thumb {
  background-color: #000000; /* Change the background color of the thumb */
  border: 2px solid #555555; /* Add a border to the thumb */
  border-radius: 10px; /* Add a rounded border to the thumb */
}

/* Style the scrollbar buttons */
.form::-webkit-scrollbar-button {
  background-color: #f5f5f5; /* Change the background color of the buttons */
  width: 20px; /* Change the width of the buttons */
  height: 20px; /* Change the height of the buttons */
}
